@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" fetchpriority="highest" href="/css/main.css" />
    </head>
    <body data-layout="Main">
        <header>
        </header>
        <main id="main_content" tabindex="-1">
            @RenderBody()
        </main>
        <footer>
        </footer>
    </body>
</html>
